:root {
  --swiper-pagination-color: #e89b26;
  --swiper-theme-color: #e89b26 !important;
  --swiper-pagination-bullet-size: 15px;
  --swiper-pagination-bullet-width: 15px;
  --swiper-pagination-bullet-height: 15px;
}

@media only screen and (max-width: 1024px) {
  :root {
    --swiper-pagination-bullet-size: 9px !important;
    --swiper-pagination-bullet-width: 9px !important;
    --swiper-pagination-bullet-height: 9px !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 30px !important;
    height: 30px !important;
  }
}
